---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>Sobre Mi</h1>
    <h2>... Y Mi Nuevo Astro site!</h2>
  
    <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda pagina de mi sitio web y es la primera que cree yo mismo.</p>
  
    <p>Este sitio se actualizara a medida que complete mas partes del tutorial, asi que siga visitandolo y vea como va mi viaje!</p>
  </body>