---
import Hamburger from './Hamburger.astro';
import Navigation from './navigation.astro';
import ThemeIcono from './ThemeIcono.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcono />
    <Navigation />
  </nav>
</header>